
{% extends 'base.html' %}
{% load static %}
{% block title %}ambulanceserviceinlahore| Best To Specialist{% endblock title %}
{% block slider %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown"> GET<span style="color:#ef6603"> YOUR </span> EXPERT & WITH<span style="color:#ef6603"> ALL ASPECTS <span></h2> <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get In Touch</a> </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown"> HIRE<span style="color:#ef6603"> EXPERTS & </span> GET YOUR<span style="color:#ef6603"> JOB DONE <span></h2> <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get In Touch</a> </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown"> BEST<span style="color:#ef6603"> ONE IN TOWN </span>& IN ALL SERVICES<span style="color:#ef6603"> SERVICES<span></h2> <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get In Touch</a> </div>
            </div>
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
        </div>
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>
    </section>
    <!-- End Hero -->
{% endblock slider %}
{% block main_content %}
<main id="main">
    <!-- ======= ADDON Section ======= -->
    <section id="about" class="ADDON">
        <div class="container">
            <div class="row content" data-aos="fade-up">
                <div class="col-lg-12 ">
                    <div class="section-title" data-aos="zoom-out">
                        <center>
                            <p style="color:#ef6603">Ambulance Service in Lahore Pakistan</p>
                        </center>
                    </div>
                    <center>
                        <img class="card-img-top" src="{% static 'assets/img/amb.jpeg' %}" width="100%" height="600px">
                        <h1>Ambulance Service in Lahore Pakistan</h1>
                        <h2>Call Us For Ambulance Service in Pakisan | Ambulance For Lahore</h2>
                        <h3>+92 300 4848262</h3>
                        <h1>Ambulance Service in Lahore Pakistan</h1>
                        <p>In the field of Medical, Ambulance services, are critical since you must be at the patients as soon as possible to provide them emergency care and transport them to the nearest hospital, if necessary. Even a fraction of a second can mean the difference between life and death for the patient. In case of emergency besto specialist Ambulance Service in Lahore are fully try to reach everywhere at the exact moment we require it. besto specialist instructed their employees to use all safety measures with sufferers,  specifically for corona patients. Their job is to keep us safe. </p><br />
                        <h2>Ambulance Service in Lahore Pakistan</h2>
                        <p> the besto specialist Ambulance Service in  Lahore is provided 24 hours a day, 7 days a week. Each of besto  specialist vehicles is linked to a real-time Tracking devices system  that includes audio monitoring .The Edhi Ambulance Service began with a second-hand Hillman  Pickup Truck that was rebuilt into the first ambulance, earning the  moniker “Poor Patient Ambulance.” Today, sixty years ago, the  Edhi ambulance has grown to become the world’s largest fleet of ambulances, with such a huge percentage of ambulances—over  1800 vehicles—distributed throughout Pakistan.</p><br>
                        <h2>Edhi Marine Ambulance Service Rescue Boats Provider​</h2>
                        <p>Edhi Marine Ambulance Service is a service that provides medical assistance to seafarers. It includes 28 rescue boats to provide aid and search for survivors in flood-affected areas, and to retrieve drowned victims on the Arabian Ocean’s beachside, etc. 
                        There was only room for 16 coffins in this morgue, but now 30  coffins can be housed continuously, as these heirless dead bodies,  who are typically unrecognizable, have been killed in larger accidents, bomb attacks, or fire.

                        These coffins are held in the morgue for 3-4 days before being buried with their bio-data on a  tin slate at the graveyard, making it easier for their heirs to search and discover them. </p><br>
                                                    <h1>Graveyard</h1> <br>
                        <p>These unclaimed coffins were buried in the Edhi graveyard from  1986 to 2008. When there was no more room to bury any more  graves, a 10-acre plot was purchased in 2008, and the heirless  remains are still being buried there to this day. On a monthly basis,  250 to 350 unclaimed deceased remains are buried in the Edhi  Graveyard. On average, Rs.6000/- is spent on the burial of an  heirless coffin. Every year, more than 8000 unidentified coffins are  buried, with an average cost of Rs.8000/- each coffin. According to  the records, 96000 unidentified dead bodies have already been  buried in Edhi Mwach Goth Graveyard.
                        Over 97 percent of emergency services are connected to Emergency  Ambulance Service, hence this is the most crucial duty of Rescue  1122. In all districts and tehsils of Punjab, the Service has saved  millions of victims of road traffic accidents, medical emergencies,  and disasters while maintaining a 7-minute average response time  and standards. The Punjab Emergency Service (Rescue 1122) began  as a trial project in Lahore on October 14, 2004, as an emergency  ambulance service. Following the success of this pilot project,  Emergency Ambulance Services were established in 12 main cities  across Punjab, and then in all of the province’s districts, serving a  population of over 80 million people. Even though later on, Rescue  and Fire Services were founded.</p>
                        <h2>We are providing 24 hours Ambulance Service all over Pakistan</h2>
                        <p>Besto Specialist Ambulance Service is Pakistan’s top ambulance service. We offer non-emergency services to patients. Hospital to  Home from one hospital to the next from one city to the next in  Pakistan, we are available 24 hours a day, 7 days a week.  Ambulance Service in Lahore Pakistan Provides the greatest ambulances that are completely equipped with all of the necessary medical equipment. A/C/NON-A/C Ambulances can be summoned at any moment. </p>
                        <h2>Our team works</h2>
                        <p>hard behind the scenes at all hours of the day and night to ensure that all emergency calls are handled quickly and efficiently. To provide a timely response during emergency scenarios, coordinate with local administration and the media.  Using Gps data, keep track of all vehicles on a live interface. All vehicles must be kept in good working order. </p>
                        <h2>Ambulances Components</h2>
                        <p>Our Ambulance Service contain BP machines and Oxygen devices) Ventilator,  Multipara monitoring, Defibrillator, Syringe pump, and  Pacemakers are all included. Their drivers Are Licensed, experienced, and well-mannered. trained to provide basic life support in emergencies. Donate right now to help besto specialist to expand its  AMBULANCE SERVICE You can give the entire car or a portion of it in the name and memory of your loved ones to receive the benefits described below. 
                        Experienced to provide emergency medical care to very unwell persons to stabilize them before being transferred to a hospital or during the transfer of any critically ill patient. 
                        Emergency oxygen units are one of the most important pieces of ambulance equipment since they can be used to help fire victims,  patients with respiratory problems like asthma, or to resuscitate a  collapsed patient.
                        It is common to find these goods in Besto Specialist ambulance Service in Pakistan that result in joints being simple and effective thanks to them. The most common splints come in a variety of shapes and sizes to best adapt to fractured or sprained joints. The ten most important components of an ambulance are described above. There are still many more that assist patients in stabilizing themselves until they are taken to an emergency room or a hospital. These are the basic instruments found in every ambulance around the world.  Sometimes you’ll find something extra, such as in pediatric ambulances, or something different, such as in NCBR or  Anti-contamination ambulances. </p>
                    </center>
                </div>
            </div>
        </div>
    </section>
            
    <!-- End ADDON Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title" data-aos="zoom-out">
                <h2>Ambulance Service</h2>
                <p>Quick Request Form</p>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12 mt-5 mt-lg-0" data-aos="fade-left">
                    <form method="POST"> {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input name="Name" type="text" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="Email" type="email" class="form-control" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input name="Phoneno" type="number" class="form-control" id="subject" placeholder="Phone Number" data-rule="minlen:4" data-msg="Please enter your phone number" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea name="Message" class="form-control" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message.. "></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="text-center">
                            <button type="submit" id="XYZ">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
     <!-- whatsapp button -->
    <section class="call-buton">
        <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a  href="https://api.whatsapp.com/send?phone=+923066895313&text=Assalam O Alaikum Welcome%20to Best of Solution%20." class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i></a>
    </section>

    <!-- Whatsapp button end -->
    <!-- call button -->
    <section class="call-buton"><a class="cc-calto-action-ripple" href="tel:+923183340180"><i class="fa fa-phone"></i></a></section>
    <!-- call button end -->
</main>
{% endblock main_content %}
