
{% extends 'base.html' %}
{% load static %}
{% block title %}generatorservice| Best To Specialist{% endblock title %}
{% block slider %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown"> GET<span style="color:#ef6603"> YOUR </span> EXPERT & WITH<span style="color:#ef6603"> ALL ASPECTS <span></h2> <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get In Touch</a> </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown"> HIRE<span style="color:#ef6603"> EXPERTS & </span> GET YOUR<span style="color:#ef6603"> JOB DONE <span></h2> <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get In Touch</a> </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown"> BEST<span style="color:#ef6603"> ONE IN TOWN </span>& IN ALL SERVICES<span style="color:#ef6603"> SERVICES<span></h2> <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get In Touch</a> </div>
            </div>
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
        </div>
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>
    </section>
    <!-- End Hero -->
{% endblock slider %}
{% block main_content %}
<main id="main">
      

    <!-- ======= ADDON Section ======= -->
           <section id="about" class="ADDON">
               <div class="container">
                   <div class="row content" data-aos="fade-up">
                       <div class="col-lg-12 ">
                           <div class="section-title" data-aos="zoom-out">
                               <center>
                                   <p style="color:#ef6603">Generator Service</p>
                               </center>
                           </div>
                           <center>
                               <img class="card-img-top" src="{% static 'assets/img/Generator-Services.jpg' %}" width="100%" height="600px">
                               <h1>Generator Repair & Maintenance in Lahore Karachi Islamabad
   d</h1>
                               <h2>Generator Fixing, Maintenance & Repair In Karachi Islamabad Lahore</h2>
                               <p>Blackouts, load shedding and power outages are a serious and long standing issue. And because of that you need you generator working in optimum condition throughout the year. If in case your generator malfunctions or you need installation then bestospecialist provide you with complete Generator repair and installation services everywhere in Karachi, Islamabad and Lahore. 
                                   <br>
                               Our generator maintenance and installation services are quality and very affordable for avail. So if you need generator services in Karachi or Lahore or Islamabad, then bestospecialist is your complete generator repair solution.</p><br />
                               
                               <h2>BASIC GENERATOR TUNING AND MAINTENANCE IN PAKISTAN</h2>
                               <p>If you are in Lahore Islamabad or Karachi and your generator needs fine tuning and complete servicing, bestospecialist have everything under control. We provide complete generator maintenance for you, whether you are at home or at office. Make sure your generator is performing at optimum level. <br>
   
   Carburetor cleaning<br>
   Oil change<br>
   Tappets adjustment<br>
   AVR Check<br>
   Battery Check<br>
   Self and Kick check<br>
   Filter wash<br>
   Nut bolts adjustment<br>
   Performance inspections<br>
   
               </p><br>
                               <h2>GENERATOR INSTALLATION AND REPLACEMENT IN PAKISTAN</h2>
                       
                               <p>If your generator has given out and you require complete replacement or body part replacement, bestospecialist have the resources and the expert personnel to help you out. Our experts will skillfully check and find for you the right replacement body parts so that your generator keeps running peacefully.<br>
   
   Also if you need installation of your new generator, we have a completely skilled, professional and competent staff to help you with the installation of your new generator.
   <br>
   We provide complete generator installation and replacement services in Karachi, Islamabad and Lahore.<br>
   
   </p>
   <h1>Why choose bestospecialist?</h1>
   <h2>Trained and Skilled Professionals</h2>
   <p>We have only the best workers and skilled staff to provide to our customers in all major cities of Pakistan such as Karachi, Lahore and Islamabad. Our staff are highly trained and to follow the international procedure of installing, repairing and maintaining your generators.</p>
   <h2>Timely Delivery of Service</h2>
   <p>At bestospecialist we are proud and very professional when it comes to providing generator repair and installation services. Once you schedule an appointment with us, our workers will be there on the time promised and the work will be delivered on time.</p>
   
   <h2>Affordable Pricing and Quality Work</h2>
   <p>We have fixed and affordable rates so that our customers and clients know that they are not going to be overcharged. We provide budget friendly rates for our high quality servicing and we make sure that our prices, according to the market, are satisfying to our customers.</p>
   
                           </center>
                   
                       </div>
                   </div>
               </div>
           </section>
           <!-- End ADDON Section -->
   
           <!-- ======= Contact Section ======= -->
           <section id="contact" class="contact">
               <div class="container">
                   <div class="section-title" data-aos="zoom-out">
                       <h2>Generator Service</h2>
                       <p>Quick Request Form</p>
                   </div>
                   <div class="row mt-5">
                       <div class="col-lg-12 mt-5 mt-lg-0" data-aos="fade-left">
                           <form method="POST"> {% csrf_token %}
                               <div class="form-row">
                                   <div class="col-md-6 form-group">
                                       <input name="Name" type="text" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                       <div class="validate"></div>
                                   </div>
                                   <div class="col-md-6 form-group">
                                       <input name="Email" type="email" class="form-control" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                       <div class="validate"></div>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <input name="Phoneno" type="number" class="form-control" id="subject" placeholder="Phone Number" data-rule="minlen:4" data-msg="Please enter your phone number" />
                                   <div class="validate"></div>
                               </div>
                               <div class="form-group">
                                   <textarea name="Message" class="form-control" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message.. "></textarea>
                                   <div class="validate"></div>
                               </div>
                               <div class="text-center">
                                   <button type="submit" id="XYZ">Send Message</button>
                               </div>
                           </form>
                       </div>
                   </div>
               </div>
           </section>
           <!-- End Contact Section -->
            <!-- whatsapp button -->
          <section class="call-buton">
               <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <a  href="https://api.whatsapp.com/send?phone=+923066895313&text=Assalam O Alaikum Welcome%20to Best of Solution%20." class="float" target="_blank">
   <i class="fa fa-whatsapp my-float"></i></a>
   
          </section>
   <!-- Whatsapp button end -->
   <!-- call button -->
   <section class="call-buton"><a class="cc-calto-action-ripple" href="tel:+923183340180"><i class="fa fa-phone"></i></a></section>
   <!-- call button end -->
   </main>
{% endblock main_content %}
